@use "./variables" as vars;

:root {
  box-sizing: border-box;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  color: vars.$clr-black;
  font-size: 10px;
  interpolate-size: allow-keywords;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
}

html,
body {
  block-size: 100%;
  inline-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

button {
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

dialog {
  border: none;
}

details {
  overflow: hidden;

  summary {
    list-style: none;
  }

  &::details-content {
    block-size: 0;
    transition:
      block-size 0.2s,
      content-visibility 0.2s;
    transition-behavior: allow-discrete;
  }

  &[open]::details-content {
    block-size: auto;
  }
}

[class$="__container"] {
  max-inline-size: vars.$desktop;
  margin-inline: auto;
  padding-inline: vars.$padding;
}

#root {
  position: relative;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  position: relative;
  flex-grow: 1;
}
