$clr-black: #212121;
$clr-hover: #646464;
$clr-active: #b29d8c;
$clr-error: #f05454;
$clr-disable: #9d9d9d;
$clr-light: #f2f0ee;
$clr-white: #ffffff;
$clr-dark: #484848;

$desktop: 1240px;
$padding: 20px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
