---
import MobileMenu from "./MobileMenu.astro";
import MobileLinks from "./MobileLinks.astro";
import ModalLayout from "@layouts/ModalLayout.astro";

import MenuSvg from "@svg/menu.svg";
import AccountSvg from "@svg/account.svg";
import CartSvg from "@svg/cart.svg";

import logo from "@svg/logo.svg?raw";
import search from "@svg/search.svg?raw";
import favorites from "@svg/favorites.svg?raw";

const links = [
  {
    label: "",
    icon: search,
    href: "/search",
    isHidden: false,
    isLogo: false,

  },

  {
    label: "",
    icon: logo,
    href: "/",
    isLogo: true,
    isHidden: false,

  },

  {
    label: "Каталог",
    icon: "",
    href: "/catalog",
    isLogo: false,
    isHidden: true,

  },

  {
    label: "Акции",
    icon: "",
    href: "/stocks",
    isLogo: false,
    isHidden: true,

  },

  {
    label: "Коллекции",
    icon: "",
    href: "/collections",
    isLogo: false,
    isHidden: true,count: 0
  },

  {
    label: "Доставка и оплата",
    icon: "",
    href: "/delivery",
    isLogo: false,
    isHidden: true,

  },

  {
    label: "О нас",
    icon: "",
    href: "/about",
    isLogo: false,
    isHidden: true,

  },

  {
    label: "",
    icon: favorites,
    href: "/favorites",
    isLogo: false,
    isHidden: false,
    'data-count': 2
  },
];
---

<header id="header" class="header">
  <div class="header__container">
    <nav class="header__nav">
      <button type="button" class="header__modal" onclick="menu.showModal()">
        <MenuSvg />
      </button>

      <MobileMenu id="menu">
        <MobileLinks />
      </MobileMenu>
      <ul class="header__list">
        {
          links.map(({ label, icon, isLogo, isHidden, ...other }) => (
            <li class="header__item" hidden={isHidden}>
              <a
                class:list={["header__link", { header__logo: isLogo }]}
                target="_blank"
                {...other}
              >
                {label || <Fragment set:html={icon} />}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <button type="button" class="header__modal" >
      <AccountSvg />
    </button>


    <button type="button" class="header__modal" data-count="2" onclick="cart.showModal()">
      <CartSvg />
    </button>
    <ModalLayout
      id="cart"
      title="ваша корзина пока пуста"
      link={{ label: "выбрать товары", href: "#" }}
    >
      Корзина ждет, что ее наполнят. Желаем приятных покупок!
    </ModalLayout>
  </div>
</header>

<style is:global lang="scss">
  @use "../styles/variables" as vars;
  @use "../styles/mixins" as mixins;

  .header {
    block-size: 8rem;
    align-content: center;
    font-size: 1.8rem;

    &__item[hidden] {
      order: -1;
    }

    &__link[data-count]::after {
      background-color: vars.$clr-active;
    }

    &__modal[data-count]::after {
      background-color: vars.$clr-black;
    }

    &__link[data-count], &__modal[data-count] {
      @include mixins.amount-badge(vars.$clr-white)
    }

    :where(&__container, &__nav, &__list, &__link, &__modal) {
      display: flex;
      align-items: center;
    }

    :where(&__container, &__list) {
      justify-content: space-between;
    }

    :where(&__container, &__nav) {
      gap: 2rem;
    }

    :where(&__nav, &__list, &__item[hidden]) {
      flex-grow: 1;
    }

    :where(&__link, &__modal):hover {
      color: vars.$clr-hover;
    }

    @media (min-width: vars.$md) {
      block-size: 12rem;

      &__modal:first-child {
        display: none;
      }

      &__list {
        gap: 1rem;
        justify-content: initial;
      }

      &__item:has(&__logo) {
        flex-grow: 1;
        order: -2;
      }

      &__item[hidden] {
        display: block;
      }

      &__item:last-child {
        margin-inline-start: 1rem;
      }

      &__logo svg {
        width: 8rem;
        height: 8rem;
      }

      :where(&__link:not(&__logo), &__modal) svg {
        width: 2.6rem;
        height: 2.6rem;
      }

      :is(&__link, &__modal)[data-count]::after {
        inset-inline-end: -3px;
        inset-block-start: -6px;
      }
    }
  }
</style>
