---
import { Font } from 'astro:assets';
import Header from "@components/Header.astro";

const { title = "main" } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Page | {title}</title>
    <Font cssVariable="--font-montserrat" preload />
  </head>
  <body>
    <div id="root">
      <Header />
      <main id="main">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global lang="scss">
  @forward "../styles/global";
</style>
